
    <div class="container animate__animated animate__shakeY">
      <form #form="ngForm" (ngSubmit)="accedi(form)">
        <div class="form-group">
          <label for="username" class="colore">Username</label>
          <input
            name="username"
            class="form-control"
            required
            ngModel
            id="username"
            type="username"
          />
        </div>
        <div class="form-group">
          <label for="pass" class="colore">Password</label>
          <input
            name="password"
            required
            class="form-control"
            ngModel
            id="pass"
            type="password"
          />
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary m-0" >Accedi</button>
        <button  class="btn btn-primary m-5" [routerLink]="['/']" >Home</button>






