<div class="bottone1">
  <button
    class="btn btn-primary m-3 animate__animated animate__shakeX"
    [routerLink]="['/regClienti']"
  >
    Aggiungi Cliente
  </button>
</div>


<div class="container">
  <div class="row">
    <div *ngFor="let cliente of arrClienti; let i = index" class="col-sm-6">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">
            {{ cliente.nomeContatto + " " + cliente.cognomeContatto }}
          </h5>
          <p class="card-text">{{ cliente.email }}</p>
          <p class="card-text">{{ cliente.ragioneSociale }}</p>

          <button
            class="btn btn-primary m-1"
            [routerLink]="['/fatturaCliente', cliente.id]"
          >
            Fatture
          </button>
          <button
            class="btn btn-primary m-1"
            [routerLink]="['/modClienti', cliente.id]"
          >
            Modifica
          </button>


          <button
            class="noselect"
            id="btn1"
            (click)="
              $event.preventDefault();
              confirmDelete(cliente.ragioneSociale, cliente.id, i)
            "
            class="btn btn-danger"
          >
            <span class="text">Delete</span
            ><span class="icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
                ></path></svg>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="conteinernav">
  <div class="pagina">
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
      <ul class="pagination" *ngIf="response">
        <li class="page-item" *ngIf="!response.first">
          <a
            class="page-link"
            (click)="$event.preventDefault(); CambiaPagina(response.number - 1)"
            href="#"
            >Previous</a
          >
        </li>
        <li
          class="page-item"
          *ngFor="let p of counter(response.totalPages); index as i"
          [ngClass]="i == response.number ? 'active' : ''"
        >
          <a
            class="page-link"
            (click)="$event.preventDefault(); CambiaPagina(i)"
            href="#"
            >{{ i + 1 }}</a
          >
        </li>
        <li class="page-item" *ngIf="!response.last">
          <a
            class="page-link"
            (click)="$event.preventDefault(); CambiaPagina(response.number + 1)"
            href="#"
            >Next</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
