<div class="container m-5">
  <div class="row">
      <div class="col-md-12">
  <table class="table colore">
    <thead class="thead-dark">
      <tr>

        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Ruolo</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let utente of arrUser , let i = index" >

        <td>{{utente.username}}</td>
        <td>{{utente.email}}</td>
        <td> <span *ngFor="let item of utente.roles" >{{item.roleName}}</span></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
          <td colspan="8">
              <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                  <ul class="pagination" *ngIf="response">
                      <li class="page-item" *ngIf="!response.first"><a class="page-link"
                              (click)="$event.preventDefault();CambiaPagina(response.number-1)"
                              href="#">Previous</a></li>
                      <li class="page-item" *ngFor="let p of counter(response.totalPages); index as i"
                          [ngClass]="(i == response.number) ? 'active' : ''">
                          <a class="page-link" (click)="$event.preventDefault();CambiaPagina(i)"
                              href="#">{{ i+1 }}</a>
                      </li>
                      <li class="page-item" *ngIf="!response.last"><a class="page-link"
                              (click)="$event.preventDefault();CambiaPagina(response.number+1)"
                              href="#">Next</a></li>
                  </ul>
              </nav>
          </td>
      </tr>
  </tfoot>
  </table>

  </div>
  </div>
  </div>



