<div class="container">
  <div class="row">
      <div class="col-md-12">
          <table class="table colore">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Data</th>
                      <th>Numero</th>
                      <th>Anno</th>
                      <th>Importo</th>
                      <th>Stato</th>
                      <th>Cliente</th>
                      <td></td>
                      <td><a class="btn btn-success" [routerLink]="['/detFatture', 0, idCliente]"
                              *ngIf="idCliente">Nuova</a></td>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let fattura of fatture, let i = index">
                      <td>{{ fattura.id }}</td>
                      <td>{{ fattura.data | date: 'MMM d, y,' }}</td>
                      <td>{{ fattura.numero }}</td>
                      <td>{{ fattura.anno }}</td>
                      <td>{{ fattura.importo }}</td>
                      <td>{{ fattura.stato.nome }}</td>
                      <td>{{ fattura.cliente.ragioneSociale }}</td>
                      <td><a [routerLink]="['/detFatture', fattura.id]" class="btn btn-primary">Modifica</a></td>
                      <td><a (click)="$event.preventDefault();confirmDelete(fattura.numero, fattura.id, i)"
                              class="btn btn-danger">Elimina</a></td>
                  </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <td colspan="8">
                          <nav aria-label="Page navigation example" *ngIf="!idCliente">
                              <ul class="pagination" *ngIf="response">
                                  <li class="page-item" *ngIf="!response.first"><a class="page-link"
                                          (click)="$event.preventDefault();CambiaPagina(0)" href="#">Primo</a></li>
                                  <li class="page-item" *ngIf="!response.first"><a class="page-link"
                                          (click)="$event.preventDefault();CambiaPagina(response.number-1)"
                                          href="#">Previous</a></li>
                                  <li class="page-item" *ngIf="!response.last"><a class="page-link"
                                          (click)="$event.preventDefault();CambiaPagina(response.number+1)"
                                          href="#">Next</a></li>
                                  <li class="page-item" *ngIf="!response.last"><a class="page-link"
                                          (click)="$event.preventDefault();CambiaPagina(response.totalPages-1)"
                                          href="#">Ultimo</a></li>
                              </ul>
                          </nav>

                          <nav aria-label="Page navigation example" class="d-flex justify-content-center" *ngIf="idCliente">
                              <ul class="pagination" *ngIf="response">
                                  <li class="page-item" *ngIf="!response.first"><a class="page-link"
                                          (click)="$event.preventDefault();CambiaPagina(response.number-1)"
                                          href="#">Previous</a></li>
                                  <li class="page-item" *ngFor="let p of counter(response.totalPages); index as i"
                                      [ngClass]="(i == response.number) ? 'active' : ''">
                                      <a class="page-link" (click)="$event.preventDefault();CambiaPagina(i)"
                                          href="#">{{ i+1 }}</a>
                                  </li>
                                  <li class="page-item" *ngIf="!response.last"><a class="page-link"
                                          (click)="$event.preventDefault();CambiaPagina(response.number+1)"
                                          href="#">Next</a></li>
                              </ul>
                          </nav>
                      </td>
                  </tr>
              </tfoot>
          </table>
      </div>
  </div>
</div>
